doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        div
            p Intereses de Politicas 
            p Terminos de La Empresas 
            p Derechos de Autor  

        div
            p Redes Sociales  

        div  

            img(src="#", alt="")